@mixin button($color: green) {
  height: 24px;
  max-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);
  & > span {
    font-size: 18px;
  }
  //pseudoselector
  &:active, &.active {
    color: $color;
  }
  &:hover {
    //color: #1a73e8;
    background: #eee;
    cursor: pointer;
  }
}

@mixin neButton($color: yellow) {
  font-size: 20px;
  padding: 5px;
  &:hover {
    color: #1a73e8;
    background: #eee;
    cursor: pointer;
}
  &:active {
    color: aquamarine;
    background: $color;
  }
}

@mixin clear-li() {
  list-style: none;
  margin: 0;
  padding: 0;
}